{% extends 'base.html.twig' %}

{% block title %}{{ "security.title"|trans() }}{% endblock %}

{% block body %}
    <!-- <div class=" d-flex justify-content-center align-items-center vh-100">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center mb-auto">
                                <img width="100" src="{{ asset('img/logo.png') }}" alt="logo" class="img-fluid">
                                <p class="pa2"> {{ 'security.message'|trans({'app_name': 'app.name'|trans}) }}</p>
                            </div>
                        </div>
                        <div class="card-body">
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <form method="post" data-turbo="false">
                                <div class="mb-3">
                                    <label for="email" class="form-label">{{ 'security.login.email'|trans }}</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                           value="{{ last_username }}" required autofocus>
                                </div>
                                <div class="mb-3">
                                    <label for="password"
                                           class="form-label">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" name="password" id="password" class="form-control" required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary"
                                            type="submit">CONNEXION</button>
                                </div>
                            </form>
                            <div class="text-center mt-3">
                                <a href="{{ path('app_register') }}">  {{ 'security.register'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
        <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="form_area">
            <p class="title">CONNEXION</p>
            <form method="post">
                <div class="form_group">
                    <label class="sub_title" for="email">Email</label>
                    <input placeholder="Entrez votre adresse mail" name="email" id="email" class="form_style" type="email" required autofocus>
                </div>
                <div class="form_group">
                    <label class="sub_title" for="password">Password</label>
                    <input placeholder="Entrez votre mot de passe" name="password" id="password" class="form_style" type="password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><x></x>
                <div>
                    <button type="submit" class="btn">CONNEXION</button>
                    <p>Pas de compte ? <a class="link" href={{ path('app_register') }}>Inscris-toi !</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}