<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ 'app.name'|trans() }} | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/logo.png') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>

<body class="{{ body_class|default('') }}" id="{{ body_id|default('') }}" data-locale="{{ app.locale }}">
{% include('partials/_toast.html.twig') %}
{% set errors = app.flashes('error') %}
{% set successes = app.flashes('success') %}
{% set notices = app.flashes('info') %}
{% set warnings = app.flashes('warning') %}
{% block body %}
    <div class="container-fluid" id="theme-wrapper">
        {% include('partials/_navbar.html.twig') %}
        <div id="content-wrapper">
            <div class="row">
                {% block full_content %}
                    <div class="col-12">
                        <div class="main-box show-grid clearfix {% if main_box_class is defined %}{{ main_box_class }}{% endif %}">
                            <div class="main-box-body clearfix p-3">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container text-center">
            <span class="text-muted">© {{ "now"|date('Y') }} {{ 'app.name'|trans }} </span>
        </div>
    </footer>
{% endblock %}

</body>
</html>
