{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block importmap %}{{ importmap(['app']) }}{% endblock %}

{% block full_content %}
    <div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
        <h1 class="display-4 text-primary mb-4">Bienvenue sur le jeu !</h1>
        <p class="lead text-secondary mb-5">Prêt à commencer une nouvelle aventure ?</p>
        <div class="d-flex gap-3">
            {{ form_start(form) }}
            {{ form_row(form.category) }}
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
